@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #303030;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

/* Сбросы */
ul {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 31px;
  outline: 1px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  padding: 84px 0;
  height: 580px;
  width: 100%;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../image/bg-hero-1.jpg);
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../image/bg-hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-subtitle .icon {
  fill: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.hero-subtitle {
  margin-bottom: 20px;
}

.hero-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  fill: currentColor;
}

.hero-title {
  margin-bottom: 20px;
  max-width: 300px;
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (max-width: 325px) {
  .hero-title {
    font-size: 38px;
  }
}

.hero-description {
  max-width: 306px;
  color: #9da4bd;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 325px) {
  .hero-description {
    font-size: 14px;
  }
}

.about-us {
  padding: 84px 0;
}

.about-us-subtitle {
  margin-bottom: 20px;
}

.about-us-subtitle .icon {
  fill: currentColor;
  margin-right: 20px;
}

.about-us-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-us-title {
  margin-bottom: 20px;
  max-width: 330px;
  color: #303030;
  font-family: Raleway;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.about-us-paragraph {
  margin-bottom: 20px;
  color: #555555;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

.about-us-text {
  margin-bottom: 40px;
  color: #555555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about-us .online-appointment {
  display: inline-block;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us .online-appointment:hover,
.about-us .online-appointment:focus {
  color: #ffffff;
  background-color: #ff6c00;
}

.prices {
  padding: 84px 0;
  background: #111319;
}

.prices-subtitle {
  margin-bottom: 20px;
}

.prices-subtitle .icon {
  fill: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.prices-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.prices-list-container {
  margin-bottom: 50px;
  padding: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(to bottom, #171a24, rgba(23, 26, 36, 0.2));
}

.prices-list {
  color: #9da4bd;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
}

.prices-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.prices .online-appointment {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prices .online-appointment:hover,
.prices .online-appointment:focus {
  background-color: #ff6c00;
}

.achievements {
  padding: 84px 0;
}

.achievements .container {
  padding-bottom: 30px;
}

.achievements-subtitle {
  margin-bottom: 20px;
}

.achievements-subtitle .icon {
  fill: currentColor;
  margin-right: 20px;
}

.achievements-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.achievements-title {
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.achievements-paragraph {
  margin-bottom: 44px;
  color: #555555;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.achievements-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 1px;
}

.achievements-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 35px;
  text-align: center;
  width: 193px;
  background: #f7f7f7;
}

.achievements-list .item:nth-child(2) {
  position: absolute;
  top: 30px;
  left: 225px;
  padding: 20px 36px;
  margin-bottom: 30px;
}

.achievements-list .item:nth-child(4) {
  position: absolute;
  top: 185px;
  left: 225px;
  padding: 20px 32px;
}

.achievements-list .item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.achievements-list .item:first-child {
  margin-bottom: 30px;
}

.achievements-value {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.achievements-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.plus {
  margin-top: 7px;
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
}
/*# sourceMappingURL=main.css.map */