.achievements {
  @include paddingContainer(84px);
}

.achievements .container {
  padding-bottom: 30px;

  @media screen and (max-width: 465px) {
    padding-bottom: 155px;
  }
}

.achievements-subtitle {
  margin-bottom: 20px;
}

.achievements-subtitle .icon {
  fill: currentColor;
  margin-right: 20px;
}

.achievements-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.achievements-title {
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.achievements-paragraph {
  margin-bottom: 44px;

  color: #555555;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.achievements-list {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 1px;

  // display: flex;
  // flex-direction: row-reverse;
}

.achievements-list .item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 35px;
  text-align: center;

  max-width: 193px;
  background: #f7f7f7;

  &:nth-child(2) {
    position: absolute;
    top: 30px;
    right: 0;
    padding: 20px 36px;
    margin-bottom: 30px;

    @media screen and (max-width: 465px) {
      top: 155px;
    }
  }

  &:nth-child(4) {
    position: absolute;
    top: 185px;
    right: 0;
    padding: 20px 32px;

    @media screen and (max-width: 465px) {
      top: 465px;
    }
  }

  &:first-child {
    margin-bottom: 30px;

    @media screen and (max-width: 465px) {
      margin-bottom: 185px;
    }
  }
}

.achievements-value {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.achievements-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.plus {
  margin-top: 7px;
  color: #ff6c00;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
}
