.additional-information {
  @include paddingContainer(84px);
}

.masters-subtitle {
  margin-bottom: 20px;
}

.masters-subtitle .icon {
  fill: currentColor;
  margin-right: 20px;
}

.masters-subtitle .subtitle-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.masters-title {
  margin-bottom: 44px;

  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.masters-list .masters-item {
  &:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters-name {
  margin-top: 30px;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
}

.masters-profession {
  margin-bottom: 30px;

  color: #ff6c00;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
}

.masters-photo {
  width: 100%;
}

.masters-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masters-link-list .link-item {
  margin-right: 10px;
}

.masters-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: currentColor;
  background-color: #fff;

  transition: fill $transitionParameter, background-color $transitionParameter,
    transform $transitionParameter;
}

.masters-link:hover,
.masters-link:focus {
  fill: #fff;
  background-color: $hoverColor;
  transform: scale(1.25);
}
